body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  background-color: rgb(74, 189, 255);
  font-size: 2rem;
  padding: 0.5em 1em;
  border-radius: 8px;
  box-shadow: rgba(1, 77, 199, 0.27) 0px 5px 15px;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  background-color: rgb(204, 74, 255);
  padding: 1em 1.5em;
  box-shadow: rgba(169, 1, 199, 0.693) 0px 5px 15px;
}
